<template>
      <div>
            <hr>
            <input class="form-control" placeholder="Comment here" v-model="content" @keyup.enter="make_comment()">
      </div>
</template>

<script>
export default {
      mounted() {

      },
      data() {
            return {
                  content: '',
                  not_working: true
            }
      },
      props: ['id'],
      computed: {
        post() {
              return this.$store.state.posts.find( (post) => {
                    return post.id === this.id
              })
        }
      },
      methods: {
            make_comment() {
                  this.$http.post('/comment/'+this.id, { comment: this.content })
                      .then((resp) => {
                            this.content = ''
                            noty({
                                    type: 'success',
                                    layout: 'bottomLeft',
                                    text: 'You\'ve commented!'
                            })
                            console.log(resp)
                      })
            }
      },
      watch: {
            content() {
                  if(this.content.length > 0)
                        this.not_working = false
                  else
                        this.not_working = true
            }
      }

}
</script>


<style>
</style>
